body {
    font-size: 13px;
    background: #f4f4f2;
}

a {
    cursor: pointer;
}

@media (min-width: 768px) {
    #navi ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #navi ul li {
        font: bold 12px/18px sans-serif;
        display: inline-block;
        background: #fff;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        border-right: 1px solid #e8e8e8;
        list-style: none;
        float: left;
        min-width: 92px;
        text-align: center;
        padding: 15px 0;
    }
    #navi ul li:hover {
        background: #555;
        color: #fff;
    }
    #navi ul li:hover a {
        color: #fff;
    }
    #navi .active {
        background: #555;
        color: #fff;
    }
    #navi .active a {
        color: #fff;
    }
    #navi ul li ul {
        padding: 0 !important;
        min-width: 140px;
        margin-top: 15px;
        position: absolute;
        display: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
    }
    #navi ul li ul li {
        background: #555;
        display: block;
        color: #fff;
        text-shadow: 0 -1px 0 #000;
        display: block;
        float: none;
        border: none;
        text-align: left;
        padding-left: 20px;
        padding-top: 15 !important;
    }
    #navi ul li ul li:hover {
        background: #666;
    }
    #navi ul li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
        z-index: 999999;
    }
    #navi {
        background: #fff;
    }
    #navi li {
        border-right: 1px solid #e8e8e8;
        min-width: 90px;
    }
    #navi ul li:first-child {
        border-left: 1px solid #e8e8e8;
    }
    #navi li ul li:first-child {
        border-left: none;
    }
    #navi li ul li {
        border-right: none;
    }
    #navi li span {
        display: block;
    }
    #navi li a i {
        display: inline-block;
        width: 24px;
        height: 24px;
        font-size: 20px;
    }
    #navi li ul li {
        text-align: left;
    }
}


/* End media */

header {
    background: #0099ba;
}

.container {
    min-height: 100%;
    min-height: -webkit-calc(100% - 192px);
    min-height: -moz-calc(100% - 192px);
    min-height: calc(100% - 192px);
}

header a {
    color: white !important;
}

#navi a {
    text-decoration: none;
}

.navbar-brand {
    padding: 15px 0;
    font-weight: bold;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: none;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: none;
}

.dropdown-menu {
    background-color: #555;
    z-index: 99999;
}

.navbar .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    right: 9px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: -2px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background: #686155;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

input {
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#character {
    font-size: 18px;
    line-height: 1;
}

.center {
    text-align: center !important;
    width: 48px !important;
}

.center-1 {
    text-align: center !important;
    width: 62px !important;
}

select {
    padding: 2px;
}

.icon-calendar-inside {
    position: absolute;
    top: 6px;
    right: 15px;
}

.right {
    float: right;
}

#container {
    background: white;
}

.inline-a {
    display: inline;
}

.home a {
    color: #454242;
}

html,
body {
    height: 100%;
}

.wrapper-contain {
    min-height: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid #dbdbdb;
    position: relative;
}

input[type="input"] {
    min-width: 222px;
}

.btn-center {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    min-width: 80px;
    padding: 4px;
    margin: 4px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
    box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(128, 128, 128, 0.1)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
    background-color: white;
    border-color: whitesmoke whitesmoke #cfcfcf;
    border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    color: #333333;
    *background-color: whitesmoke;
    font-size: 14px;
    line-height: 22px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 2px 12px;
    text-align: center;
    vertical-align: middle;
    *border: 0;
    *display: inline;
    *zoom: 1;
}

p {
    margin-top: 10px;
    font-size: 22px;
    margin-left: 10px;
}

p b {
    border-bottom: 1px solid #cccccc;
}

.wrapper-contain form {
    margin: 0 8px 0 8px;
}

.wrapper-contain form select {
    padding: 4px;
    margin-bottom: 9px;
}

.wrapper-contain .right-30 {
    float: right;
    margin-right: 35px;
}

.wrapper-contain .right-55 {
    float: right;
    margin-right: 60px;
}


/*-----------------------------------Button Link--------------------------------*/

a.print,
input.print,button.print {
    text-decoration: none;
    display: inline-block;
    margin: 0 8px 0 8px;
    background: linear-gradient(#7d9f7d, #3c763d);
    text-align: center;
    color: #fff;
    padding: 3px 6px;
    border-radius: 2px;
    border: 1px solid #3c763d;
    min-width: 60px;
}

.top-print {
    margin-top: 9px !important;
}

.bottom-print {
    margin-bottom: 9px !important;
}

.no-bottom-margin {
    margin: 0;
}

.bottom-margin {
    margin-bottom: 9px;
}

#receive-order table tr:nth-child(even),
#export table tr:nth-child(even),
#shipment table tr:nth-child(even),
#revenues table tr:nth-child(even),
#purchase tr:nth-child(even) {
    background: rgba(139, 123, 87, 0.31);
}

i.fa.fa-print {
    margin-right: 5px;
}

i.fa-file-excel-o {
    margin-right: 5px;
}

i.fa-eye,
i.fa-plus,
i.fa-list {
    margin-right: 5px;
}

.btn-center a {
    margin: 5px;
}

.wrapper-contain .wrapper-table-a {
    margin: 8px;
}

.wrapper-contain th {
    background: rgb(85, 85, 85);
    color: #dbd6cb;
}

a.del {
    color: red;
}

a.edit {
    color: seagreen;
}

.form-group button {
    background: #c3c3c3;
    border-radius: 2px;
    margin: 0;
}

.btn-center i.fa-trash,
i.fa-floppy-o {
    margin-right: 5px;
}


/*-----------------------------------End Button Link--------------------------------*/


/*-----------------------------------Dialog Form--------------------------------*/

#cover,
#dialog-form {
    display: none;
    position: fixed
}

#cover {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 5;
    width: 100%;
    height: 100%
}

#dialog-form {
    height: 200px;
    width: 400px;
    z-index: 9999;
    border: 1px solid #5d6d70;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f4fdff;
    border-radius: 1px;
    text-align: center;
    vertical-align: middle
}

#dialog-form .cancel,
.top-right {
    position: absolute;
    top: 0;
    right: 0
}

#dialog-form .fa {
    color: green;
    margin-right: 5px;
    border: 1px solid green;
    border-radius: 50%
}

#dialog-form:target,
#dialog-form:target+#cover {
    display: block;
    opacity: 2
}

#dialog-form .cancel {
    display: block;
    color: #fff;
    width: 24px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 26px;
    border-bottom-left-radius: 4px
}

#dialog-form center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px
}

#dialog-form button , #dialog-form .btn-from-ok-popup{
    width: 75px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 2px;
    font: 700 13px/16px Arial, Helvetica, Clean, sans-serif;
    background: #65acc8;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#65acc8), to(#4586ae));
    background: -moz-linear-gradient(#65acc8, #4586ae);
    background: linear-gradient(#65acc8, #4586ae);
    border-top: 1px solid #a1cdde;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

#dialog-form .btn-from-ok-popup {
    padding-top: 7px;
    padding-bottom: 4px;
}

#dialog-form #no,
#dialog-form #confirm_no {
    background: linear-gradient(#ec8484, #cf5555);
    border-top: 1px solid #d38383
}

#dialog-form h3 {
    font-size: 20px;
    font-weight: 700;
    height: 200px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 400px;
    padding-bottom: 30px;
}

.top-right {
    border-top: 40px solid #c36666;
    border-left: 40px solid transparent;
    z-index: -1;
    display: none !important;
}


/*----------------------------------End Dialog Form--------------------------------*/


/** Overload navigation **/

.nav {
    padding-left: 5px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #f2f2f2;
}

.form-control {
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    transition: none;
    height: 30px;
    border-radius: 2px;
}

label {
    text-align: left;
}

.right {
    float: right;
}

.left {
    float: left;
}

button {
    background-color: #d7d7d7;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
    #navi {
        display: block !important;
    }
}


/* End media 768 */

@media (min-width: 991px) {
    .form-horizontal .control-label {
        text-align: right;
    }
}


/* End media 991 */

.red {
    color: red;
}

.red a {
    color: red;
}

caption {
    font-weight: bold;
    background: #d2d1cf;
    text-align: center;
    color: #484848;
    font-size: 1.2em;
}


/*---No-order table ---*/

.no-order-table {
    width: 100%;
}

.no-order-table select {
    box-sizing: border-box;
    width: 100%;
}

.no-order-table th {
    text-align: center;
    padding: 10px;
}

.no-order-table td {
    padding: 0;
}

.no-order-table td {
    height: 34px;
    text-align: center;
}

.no-order-table select {
    padding: 8px;
    border: none;
}

.no-order-table select,
.no-order-table input {
    padding: 8px;
    border: none;
}

.no-order-table select.tall,
.no-order-table input.tall {
    margin: 0;
    height: 100% !important;
    display: inline-block;
    width: 100%;
}

.no-order-table .sum-col td {
    background: rgb(210, 209, 207) !important;
    height: 34px;
}

.no-order-table .no-pad td {
    padding: 0 !important;
}

.no-order-table td,
.no-order-table th {
    border: 1px solid #a3a3a3;
}

.no-order-table input {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

.no-order-table .number-input {
    width: 80px;
    text-align: center;
}


/*---No-input table ---*/

.no-input-table {
    width: 100%;
}

.no-input-table th {
    text-align: center;
    padding: 10px;
    border: 1px solid #a3a3a3;
}

.no-input-table td {
    height: 34px;
    border: 1px solid #a3a3a3;
    text-align: center;
}

.no-input-table .sum-col {
    background: rgb(210, 209, 207) !important;
}

.no-input-table .sum-col td:first-child {
    font-weight: bold;
}

.current {
    background: #fce5e5;
}

legend {
    border-bottom: 1px solid lightgrey !important;
    font-weight: bold;
    width: 50%;
    font-size: 18px;
}

.wrapper-table {
    margin: 9px;
}

.button-line-2 {
    margin-top: 20px;
}

.width-button {
    width: auto !important;
}

.right-text {
    text-align: right !important;
}

.left-text {
    text-align: left !important;
    padding-left: 5px !important;
}

.left-text {
    padding-left: 5px;
}

.center-text {
    text-align: center;
}

.first-row {
    margin: 30px 0 30px 0;
}

.sec-row {
    margin: 0 9px 0 9px;
}

.third-row {
    margin: 0 9px 30px 9px;
}

.no-right-margin {
    margin-right: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0 ;
}

.top-table {
    margin-top: 20px;
}

.print-auto {
    width: auto !important;
}


/** Menu responsive **/

.btn-navbar {
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: -o-linear-gradient(top, #333, #222);
    background-image: linear-gradient(top, #333, #222);
    background-repeat: repeat-x;
    border-color: #222 #222 #000;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid: dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
    padding: 7px 10px 5px;
    position: absolute;
    top: 5px;
    right: 20px;
    display: none;
    z-index: 10;
    cursor: pointer
}

.fa-bars {
    font-size: 20px;
}

#menu-b {
    display: none;
}

.toggle,
[id^=drop] {
    display: none;
}

@media (max-width: 767px) {
    .btn-navbar {
        display: block;
    }
    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
    }
    .navbar-brand {
        margin-left: 18px;
    }
    #navi>ul {
        width: 100%;
        height: auto;
        border: none;
    }
    #navi .container li ul {
        display: none;
    }
    #navi ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #navi li {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: none;
        width: 100% !important;
    }
    #navi ul li {
        padding: 7px;
        background: rgb(85, 85, 85);
        border-bottom: 1px solid #616161;
    }
    #navi ul li a {
        color: white;
    }
    #navi li ul {
        padding-left: 5%;
    }
    #navi li ul li {
        background: #4a4a4a;
        text-decoration: none;
    }
    #navi li:hover a {
        text-decoration: none;
    }
    #navi i {
        margin-right: 5px;
        padding: 0 10px 0 10px;
    }
    li.active a {
        color: #5fc8df;
    }
    li.active ul a {
        color: none !important;
    }
    li:hover a {
        color: none;
    }
    li.active ul li a {
        color: none !important;
    }
    [id^=drop] {
        display: block;
    }
    #navi {
        display: none;
    }
}


/* End media 767 */

.down {
    transform: rotate(-90deg);
    float: right;
}

.up {
    transform: rotate(90deg) !important;
}

.no-top-margin {
    margin-top: 0 !important;
}

textarea {
    padding: 5px !important;
}

.margin-top-table {
    margin-top: 30px;
}

.margin-bottom-table {
    margin-bottom: 30px;
}

.margin-table {
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper-textarea {
    margin: 30px 8px 15px 8px;
}

.pad-left-text {
    padding-left: 5px;
}


/*-------------------Home Page----------------------*/

.home .title h3,
.home .title h5 a {
    color: #454040;
    font-size: 14px;
    font-weight: 800
}

.home .col-md-6,
.home .content {
    padding: 10px
}

.home .title {
    display: flex;
    background: #d3c4ab;
    background: linear-gradient(#e8cda1, #d3c4ab)
}

.home .title h3 {
    padding-left: 10px;
    margin-top: 10px
}

.home .title h5 a {
    position: absolute;
    right: 20px
}

.home .col-md-6>div {
    height: 295px;
    border: 1px solid #d3c4ab;
    border-radius: 2px;
}

.home .red {
    color: red
}

.home .wrapper {
    background: #fff
}

.home li {
    list-style-type: none;
}

.home li .tri-angle::before {
    content: '▶';
    padding: 2px;
    text-decoration: none !important;
}

.home h6 {
    font-weight: bold;
}

.home li .under-link {
    text-decoration: underline;
}

.home .blue {
    color: blue;
    
}

.home .green {
    color: green;
}

.home .yellow {
    color: yellow;
}

.home .red,
.home .blue,
.home .green,
.home .yellow {
    /* width: 65px; */
    float: left;
}

ul li div{
    height: 0;
}
.home_js_h_table {
    display: block;
    min-height: 120px;
}
.home_js_h_table table{
    max-height: 150px;
}

/*-------------------Order Page----------------------*/


/*-------------------ReceiveOrder----------------------*/

@media (max-width: 991px){
    .center{
        text-align: left !important;
    }
}
.order input,
.order select{
    width:calc(100% - 25px);
    
}
.order .red {
    color: red !important;
}

.order .sum-last-col {
    background: #6b8fae;
    color: white;
}

.order .sum-last-col a {
    color: white;
}

.order .print {
    width: 105px;
}

.order .parent_print {
    margin-top: 20px;
}

.order .wrapper-table-a {
    overflow-x: auto !important;
}


/*-------------------Scroll-table----------------------*/

#receive-order th:hover {
    cursor: auto;
}

.scroll tr:hover {
    cursor: pointer;
}

#receive-order .no-order-table,
#shipment .no-input-table,
#revenues .no-input-table,
#export .no-order-table {
    width: 98.5%;
}

.scroll,
.shipment-scroll,
.revenues-scroll,
.created-scroll,
.purchase-scroll,
.warehouse-scroll {
    max-height: 360px;
    overflow: auto;
}

.scroll table,
.shipment-scroll table,
.revenues-scroll table,
.created-scroll table,
.purchase-scroll table,
.warehouse-scroll table {
    width: 100%;
}

.scroll td,
.shipment-scroll td,
.revenues-scroll td,
.purchase-scroll td,
.warehouse-scroll td {
    height: 34px;
    border: 1px solid #a3a3a3;
}

.scroll td:nth-child(1),
#receive-order .no-order-table th:nth-child(1) {
    width: 5%;
    text-align: center;
}

.scroll td:nth-child(2),
#receive-order .no-order-table th:nth-child(2) {
    width: 10%;
    text-align: center;
}

.scroll td:nth-child(3),
#receive-order .no-order-table th:nth-child(3) {
    width: 15%;
    text-align: center;
}

.scroll td:nth-child(n+4),
#receive-order .no-order-table th:nth-child(n+4) {
    width: 10%;
    text-align: center;
}


/*---Shipment---*/

#shipment .no-input-table th {
    padding: 11px;
}

.shipment-scroll td:nth-child(1),
#shipment .no-input-table th:nth-child(1) {
    width: 5%;
    text-align: center;
}

.shipment-scroll td:nth-child(2),
#shipment .no-input-table th:nth-child(2) {
    width: 10%;
    text-align: center;
}

.shipment-scroll td:nth-child(3),
#shipment .no-input-table th:nth-child(3) {
    width: 15%;
    text-align: center;
}

.shipment-scroll td:nth-child(n+4),
#shipment .no-input-table th:nth-child(n+4) {
    width: 10%;
    text-align: center;
}


/*---Revenues---*/

#revenues .no-input-table th {
    padding: 11px;
}

.revenues-scroll td:nth-child(1),
#revenues .no-input-table th:nth-child(1) {
    width: 5%;
    text-align: center;
}

.revenues-scroll td:nth-child(2),
#revenues .no-input-table th:nth-child(2) {
    width: 10%;
    text-align: center;
}

.revenues-scroll td:nth-child(3),
#revenues .no-input-table th:nth-child(3) {
    width: 15%;
    text-align: center;
}

.revenues-scroll td:nth-child(n+4),
#revenues .no-input-table th:nth-child(n+4) {
    width: 10%;
    text-align: center;
}


/*---Purchase---*/

#purchase table th {
    padding: 11px;
}

.purchase-scroll td:nth-child(1),
#purchase table th:nth-child(1) {
    width: 5%;
    text-align: center;
}

.purchase-scroll td:nth-child(2),
#purchase table th:nth-child(2) {
    width: 10%;
    text-align: center;
}

.purchase-scroll td:nth-child(3),
#purchase table th:nth-child(3) {
    width: 15%;
    text-align: center;
}

.purchase-scroll td:nth-child(n+4),
#purchase table th:nth-child(n+4) {
    width: 10%;
    text-align: center;
}


/*---Warehouse---*/

#export table th {
    padding: 11px;
}

.warehouse-scroll td:nth-child(1),
#export table th:nth-child(1) {
    width: 5%;
    text-align: center;
}

.warehouse-scroll td:nth-child(2),
#export table th:nth-child(2) {
    width: 10%;
    text-align: center;
}

.warehouse-scroll td:nth-child(3),
#export table th:nth-child(3) {
    width: 15%;
    text-align: center;
}

.warehouse-scroll td:nth-child(n+4),
#export table th:nth-child(n+4) {
    width: 10%;
    text-align: center;
}


/*-------------------Scroll-table----------------------*/


/*-------------------DetailOrder----------------------*/

.order .detail-table {
    width: 100%;
}

.order .detail-table tr {
    background: none !important;
    height: 34px;
}

.order .detail-table .icon-calendar {
    margin-left: 5px;
}

.order .detail-table input,
.order .detail-table select {
    width: 88%;
}

.order .form-control-input {
    border: none !important;
}

.order .edit-table select,
.order .edit-table input {
    width: 100%;
}

.order .detail-table input {
    padding: 0;
    height: 28px;
    margin: 0;
    border-radius: none !important;
    min-width: 170px;
}

.detail-table select {
    width: 170px !important;
}

.detail-order .scroll-table {
    //min-width: 556px;
    overflow-x: scroll;

}

.detail-order .scroll-table table {
    width: 100%;
}

.detail-order .scroll-table th,
.detail-order .scroll-table td {
    border: 1px solid #9c9898;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    //padding: 6px 0;
    text-align: center;
}
/*__Scroll table */
.headcol,
.sec-col,
.thi-col,
.for-col,
.fif-col,
.six-col,
.sev-col {
    position: absolute;
    text-align: center;
    top: auto;
    margin-top: 0;
}
    .headcol {
        left: 9px;
        width:98px;
    }
    .sec-col{
        //left:calc(7em + 10px);
        width:148px;
        left:108px;
    }
     .thi-col{
        //left:calc(14em + 11px);
        left:257px;
        width:58px;
    }
     .for-col{
        width:68px;
        //left:calc(19em + 12px);
        left:316px;
    }
     .fif-col{
        //left:calc(24em + 13px);
        //width:5em;
        width:78px;
        left:385px;
    }
     .six-col{
        //right:calc(5em + 10px);
        right:78px;
         width:68px;
    }
    .sev-col {
        right: 9px;
        width:68px;
    }
.scroll-table td{
  padding:0 !important;
  margin:0 !important;
}
.scroll-table th{
  //padding:5px 0 5px 0 !important;
}
.scroll-table{
    margin-left: 464px;
    margin-right: 147px;
}
.sum-col .headcol,.sum-col .sec-col, .sum-col .thi-col,.sum-col .for-col,.sum-col .fif-col,.sum-col .six-col,.sum-col .sev-col{
  background:#d2d1cf;
}
#tab-1 .scroll-table{
  //margin-left:calc(29em + 14px);
  //margin-right:142px;
}
.scroll-table td input{
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px;
    min-width:40px;
    border: 1px solid #444466;
}
.inputpicker-div input {
    width: calc( 100% - 2px) !important;
  }
/*__End scroll table */
/*__Create order */
.scroll-table th.addition{
  width:100%;
}
/*__End creater order */
.detail-order #tab-1 .wrapper-table a {
    position: absolute;
    right: 9px;
    margin-bottom: 9px;
    margin-right: 0;
}

.detail-order #tab-2 .wrapper-table a {
    float: right;
    margin-right: 0;
}

.detail-order #tab-1 .bt-edit-detal {
    position: absolute;
    right: 9px;
    margin-right: 0;
}

.detail-order .scroll-table {
    margin-top: 9px;

}

.detail-order #tab-2 .wrapper-table {
    margin: 9px;
}

.detail-order #tab-1 table {
    margin-top: 35px;
}


/*-------------------Edit Order----------------------*/

.edit-order input[name="order_number"] {
    padding-left: 5px;
    background: none;
    border: none;
}

.edit-order input[name="deliver"] {
    padding-top: 5px;
}

.hide-input {
    background: none;
    border: none;
    padding-top: 7px;
}

.edit-order label[name="lb-deliver"] {
    line-height: 1;
}

.table-delivery th:nth-child(1){
    width: 8%;
}

.table-delivery th:nth-child(7){
    width: 5%;
}


.order .edit-table input {
    text-align: center;
}


/*---------------Edit Order-2---------------------*/

.edit-order-2 label {
    line-height: 1.3;
}

.edit-order-2 .edit-table input {
    width: 99% !important;
}

.edit-order-2 input[name="issuer"] {
    padding-top: 5px;
}

.edit-order-2 label[name="lb-issuer"] {
    line-height: 1;
}


/*-------------------Edit Delivery Order----------------------*/

.edit-table input {
    text-align: center;
    margin: 0;
    padding: 0;
}

.edit-table td {
    border: 1px solid #a3a3a3;
    text-align: center;
}

.edit-table td input {
    border: 1px solid rgba(154, 161, 168, 0.46);
    height: 95%;
    width: 99% !important;
}

.edit-order label {
    line-height: 1.3;
}


/*-------------------CreateOrder----------------------*/

.create-order label {
    line-height: 1.3;
}


/*------------------Check list---------------------------*/

.checklist input[type="checkbox"] {
    height: 15px;
    width: 15px;
    border: 0 !important;
}

.wrapper-detail select {
    padding: 4px
}

.order .add-new input {
    width: 170px !important;
}

#order tr:hover {
    cursor: pointer;
}

.checklist-table td:nth-child(11) {
    text-align: center;
}

.checklist-table .sum span {
    margin-right: 5px;
}

.not-pad-table table.dataTable tbody th, .not-pad-table table.dataTable tbody td {
    padding: 0;
}

.not-pad-table table.dataTable thead th, .not-pad-table table.dataTable thead td {
    padding: 0;
}

.no-borderL {
    border-left: 0 !important;
}

.no-borderR {
    border-right: 0 !important;
}

.no-borderLR {
    border-left: 0 !important;
    border-right: 0 !important;
}


/*-------------------CreateOrder-2----------------------*/

.wrapper-detail {
    border: 1px solid #cbcbcb;
    padding: 8px
}


/*-------------------DetailOrder-2----------------------*/


/*-------------------EditOrder-2----------------------*/


/*-------------------Edit Delivery Order-2----------------------*/


/*-------------------CheckList----------------------*/

.checklist .btn {
    width: 120px
}

.checklist-table {
    width: 100%
}

.checklist-table td,
.checklist-table th {
    border: 1px solid #a3a3a3;
    height: 34px;
    text-align: center;
    vertical-align: middle;
}

.checklist-table td:last-child,
.checklist-table th:last-child {
    text-align: center
}

.sum {
    text-align: right!important;
    font-weight: 700
}

.sum-col {
    background: #d2d1cf!important;
    font-weight: bold;
}


/*-------------------Shipment Page----------------------*/

.shipment .center-1 {
    width: 62px;
    text-align: center;
    margin-right: 10px;
}


/*---------Add shipment page----------*/

.shipment .first-col {
    border: 1px solid black !important;
}

#add-shipment-table th:nth-child(7),
#add-shipment-table th:nth-child(10),
#add-shipment-table th:nth-child(11) {
    width: 6%;
}


/*---------End shipment page----------*/

.pad-50 {
    padding-left: 50px;
}

#shipment tr:hover {
    cursor: pointer;
}

#shipment th:hover {
    cursor: auto;
}

.shipment .print-1 {
    width: 92px;
}

.shipment h3 {
    font-weight: bold;
}

.shipment .table_1 tr {
    background: none;
    height: 34px;
}

.shipment .table_1 td:nth-child(1) {
    font-weight: bold;
    text-align: left;
}

.shipment .empty-table td {
    border: 1px solid black;
}

.shipment .empty-table {
    width: 100%;
    background: none;
}

.shipment .empty-table tr {
    background: none;
}

.shipment .empty-table td {
    width: 10%;
    text-align: left;
    height: 34px;
}

.shipment .empty-table td:nth-child(1) {
    width: 6%;
}

.shipment .empty-table td:nth-child(2) {
    width: 14%;
}

.shipment .empty-table td:nth-child(1),
.shipment .empty-table td:nth-child(2) {
    border: none;
}

.shipment .empty-table td:nth-child(1) {
    text-align: left;
}

.shipment .empty-table input {
    margin-bottom: 0;
}

.shipment .detail td:nth-child(2) {
    padding-left: 10px;
}

.shipment h3 {
    margin-left: 30px;
}

.shipment .wrapper-detail {
    margin-left: 30px;
}

.shipment .empty-table {
    margin-top: 30px;
}

.shipment textarea {
    padding-top: 20px;
    padding-left: 10px;
}


/*-------------------export Page----------------------*/

#copy,
#ship-copy,
#delivery-order-copy {
    background: white;
    padding: 4px;
    border-radius: 1px;
    margin-top: 5px;
    display: block;
    width: 55px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.shipment .no-left-pad {
    padding-left: 0;
}


/*---------------------Detail Page-------------------*/

.shipment .button-container input {
    width: 120px;
    margin-left: 5px;
}


/*---------------Edit Shipment ------------------*/

.edit-shipment textarea {
    width: 100%;
    margin-left: 2px;
}

.edit-shipment .edit-table th:nth-child(n+10) {
    width: 8%;
}

.col-left-margin {
    margin-left: 4px;
}


/*-------------------Revenues Page----------------------*/

.revenue .form-control {
    border: none !important;
}

.full-table {
    width: 100%;
}

.full-table tr,
.full-table td,
.full-table th {
    border: 1px solid #5f5d5d;
    height: 34px;
}

.full-table td {
    padding-right: 5px;
    padding-left: 5px;
}

.full-table th {
    text-align: center;
}

.full-table input {
    height: 34px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    padding-left: 2px;
}

.full-table caption {
    background: none;
}

.full-table .td-input {
    padding: 0 !important;
}

.revenues .detail-table input {
    margin: 0;
    width: 100%;
    padding: 0;
    height: 100%;
    border: none !important;
    background: none;
    height: 28px;
}


/*-------------------Purchase Page----------------------*/

.purchase .label-1 {
    width: 100px !important;
}

.button-right-side {
    width: 200px;
    float: right;
    margin-top: 9px;
}

.purchase .detail-table {
    margin-left: 30px;
}

.purchase .detail-table td:nth-child(1) {
    font-weight: bold;
}

.purchase h3 {
    margin-left: 30px;
    font-weight: bold;
}

.edit-purchase .form-horizontal .right-3 {
    margin-left: 2px;
}

.edit-purchase .form-horizontal label {
    line-height: 1;
}


/*--------------------Index Page-----------------------*/

#purchase tr:hover {
    cursor: pointer;
}

#purchase th:hover {
    cursor: auto;
}


/*-------------------Detail Page---------------------*/

#purchase .sum-col td:first-child {
    text-align: right;
    padding-right: 5px;
}


/*-------------------Debt Page----------------------*/

.debt input,
.debt select {
    width: auto;
}

.debt .first-label {
    background: #e6e6e6;
    height: 84px;
    text-align: center;
    vertical-align: middle;
    padding-top: 35px;
    border-radius: 2px;
}

.debt .second-label {
    background: #e6e6e6;
    height: 124px;
    text-align: center;
    padding-top: 53px;
    height: 120px;
    border-radius: 2px;
}

.debt .center-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.debt .select-1 {
    height: 28px;
    width: 178px;
}

.debt .select-2 {
    height: 28px;
    width: 356px;
}


/*-------------------Business Page----------------------*/


/*-------------------Index Page----------------------*/

.business button,
.business select {
    width: 150px !important;
}

.business button:nth-child(2) {
    height: 122px;
}

.business select {
    padding: 4px;
}

.business .index {
    margin-left: 30px
}

.business input[type=text],
.business input[type='radio'] {
    width: auto
}

.business .btn-1>input,
.business .btn-2>input {
    display: block;
    margin: 0 auto
}

.business .btn-1 {
    text-align: center;
    margin-top: -2px;
    padding: 10px 0
}

.business label {
    margin-bottom: 0
}

.business label input,
.business select[name='select-time'] {
    margin: 0 15px!important
}

.business .column-2 {
    float: left;
    width: 40%
}

.business .btn-2 {
    float: left;
    height: 133px
}

.business .row-2 {
    margin-top: 10px
}

.business .row-2 input {
    margin-left: 33px
}

.business .row-3 input {
    margin-left: 46px
}

.business #todate {
    font-weight: 700;
    margin: 0 5px
}


/*-------------------Inventory Page----------------------*/

.inventory .datepicker,
.inventory input[type=text] {
    margin-top: 5px
}

.inventory input {
    margin-bottom: 5px!important
}

.inventory select {
    min-width: 170px
}

.inventory .right {
    float: right
}

.inventory .right-20 {
    float: right;
    margin-right: 20px
}

.inventory .right input,
.inventory .right-20 input {
    width: 170px!important
}

.inventory input.right {
    width: 170px!important
}

.inventory button {
    padding: 10px 0;
    min-width: 150px
}

.inventory select {
    padding: 4px;
    margin-bottom: 5px;
    margin-top: 5px
}

.inventory .label-form {
    text-align: center!important;
    padding-top: 10px;
    margin: 0!important
}

.inventory .datepicker {
    margin: 0!important
}

.inventory .select-20 {
    min-width: 50px !important;
}

.inventory h3 {
    margin-left: 0 !important;
}

.inventory .part-3 .col-4 label,
.inventory .part-5 .col-4 label:nth-child(1) {
    line-height: 1.2;
    font-size: 15px
}

.inventory .col-2,
.inventory .col-4,
.inventory .col-6,
.inventory .part-4 .col-1 label,
.inventory .part-7 button label,
.inventory .part-8 button label {
    text-align: center
}

.inventory {
    width: 1200px;
    overflow-x: auto
}

.inventory .col-1 {
    width: 150px;
    float: left;
    margin-right: 10px
}

.inventory .col-2 {
    width: 80px;
    float: left
}

.inventory .col-3 {
    width: 200px;
    float: left
}

.inventory .col-4 {
    width: 80px;
    float: left
}

.inventory .col-5 {
    width: 200px;
    float: left
}

.inventory .col-6 {
    width: 80px;
    float: left
}

.inventory .col-7 {
    width: 200px;
    float: left
}

.inventory select {
    margin-bottom: 16px;
    height: 28px;
    width: 170px!important
}

.inventory .line-2 {
    display: block
}

.inventory h3 {
    font-weight: 700;
    margin-left: 0
}

.inventory-left {
    margin-left: 33px
}

.inventory .print {
    width: 90px
}

.inventory .part-3 .col-3 input,
.inventory .part-5 .col-3 .right-20 {
    width: 170px
}

.inventory .display-block {
    display: block
}

.inventory .part-1 .col-2 .line-2 {
    padding-top: 27px
}

.inventory .part-2 button {
    padding-bottom: 0
}

.inventory .part-2 label[name=position] {
    padding-top: 12px
}

.inventory .part-2 label[name=select-date] {
    padding-top: 28px
}

.inventory .part-2 .col-1 input {
    display: block;
    margin: 0 auto
}

.inventory .part-2 .col-3 select {
    margin-bottom: 16px!important;
    margin-top: 8px
}

.inventory .part-3 button {
    height: 72px
}

.inventory .part-3 button input {
    display: block;
    margin: 0 auto
}

.inventory .part-3 .col-3 .right {
    margin-bottom: 12px;
    margin-top: 2px
}

.inventory .part-3 .col-2 .line-2 {
    padding-top: 22px
}

.inventory .part-4 .col-2,
.inventory .part-4 .col-3,
.inventory .part-4 .col-4,
.inventory .part-4 .col-5 {
    margin-top: 12px
}

.inventory .part-4 .col-2 .line-2 {
    margin-top: 5px;
    padding-top: 25px
}

.inventory .part-5 button {
    min-height: 72px
}

.inventory .part-5 button input {
    display: block;
    margin: 0 auto
}

.inventory .part-5 .col-3 .right,
.inventory .part-5 .col-5 .right {
    margin-bottom: 19px;
    margin-top: 2px
}

.inventory .part-5 .col-2 .line-2 {
    padding-top: 25px
}

.inventory .part-5 .col-4 .line-2 {
    padding-top: 24px
}

.inventory .part-5 .col-5 .right-20 {
    margin-bottom: 0;
    margin-top: -1px;
    height: 28px
}

.inventory .part-6 button {
    min-height: 160px
}

.inventory .part-6 button input {
    display: block;
    margin: 0 auto
}

.inventory .part-6 .col-2 .line-2 {
    padding-top: 26px
}

.inventory .part-6 .col-3 select:nth-child(3) {
    margin-top: 16px
}

.inventory .part-6 .col-3 select:nth-child(4) {
    margin-top: 0
}

.inventory .part-6 .col-4 label:first-child {
    line-height: 1.2;
    font-size: 15px;
    padding-top: 53px
}

.inventory .part-6 .col-4 .line-2 {
    padding-top: 26px
}

.inventory .part-6 .col-5 .right {
    margin-top: 49px
}

.inventory .part-6 .col-5 select:nth-child(2) {
    margin-top: 16px;
    margin-bottom: 12px
}

.inventory .part-8 .col-3 select,
.inventory .part-8 .col-5 .right-20 {
    margin-bottom: 0
}

.inventory .part-6 .col-6 label {
    padding-top: 99px
}

.inventory .part-6 .col-7 select {
    margin-top: 92px
}

.inventory .part-7 .col-2 label {
    padding-top: 27px
}

.inventory .part-7 .col-3 {
    margin-top: 22px
}

.inventory .part-8 .col-2 label:nth-child(1) {
    margin-top: 5px;
    padding-top: 12px;
    display: block
}

.inventory .part-8 .col-3 .right,
.inventory .part-8 .col-5 .right {
    margin-top: 15px
}

.inventory .part-8 .col-2 label:nth-child(2) {
    padding-top: 23px!important
}

.inventory .part-8 .col-4 label:nth-child(1) {
    padding-top: 12px
}

.inventory .part-8 .col-4 label:nth-child(2) {
    padding-top: 23px;
    font-size: 15px
}

.inventory .first-row a:first-child {
    margin-left: -3px
}


/*-------------------Product Page----------------------*/

.product {
    min-width: 1100px;
    overflow-x: auto;
}

.product .col-1 {
    float: left;
    margin-right: 10px;
}

.product .col-2 {
    width: 80px;
    float: left;
    text-align: center;
}

.product .col-3 {
    width: 200px;
    float: left;
}

.product .col-4 {
    width: 80px;
    float: left;
    text-align: center;
}

.product .col-5 {
    width: 200px;
    float: left;
}

.product .col-4-1 {
    width: 150px;
    float: left;
    text-align: center;
}

.product .col-6 {
    width: 80px;
    float: left;
    text-align: center;
}

.product .col-7 {
    width: 200px;
    float: left;
}

.product .line-2 {
    display: block;
    float: right;
    margin-right: 20px;
    margin-bottom: 0;
}

.product .line-1 input {
    margin-bottom: 15px;
}



.product button {
    min-height: 75px;
    margin: 0;
}

.product .label-form {
    line-height: 2.5;
}

.label-todate {
    line-height: 2;
    font-weight: bold;
    font-size: 15px;
}

.product input[type="text"],
.product .datepicker {
    width: 175px;
}

.prod-row-2 {
    margin-top: 8px;
    float: left;
}

.prod-row-2 input[type="radio"] {
    width: auto;
    margin-left: 25px;
    margin-right: 10px;
}

.prod-row-2 label:nth-child(2) {
    margin-right: 10px;
}

.wrap-col {
    width: 360px;
    float: left;
}

.wrap-col-2 {
    width: 710px;
    float: left;
}

.wrap-col-6 {
    width: 560px;
    float: left;
}

.prod-row-2 select {
    width: auto;
    margin-left: 50px;
}

.prod-row-2 a {
    margin-left: 110px;
}

.product no-top-margin {
    margin-top: 0;
}

.product .lb-line-2 {
    display: block;
    text-align: center;
    padding-top: 15px;
}

.wrap-input-4,
.wrap-input-5,
.wrap-input-7 {
    margin-top: 20px;
}

.prod-row-2 .lb-row-3 label:nth-child(1) {
    margin-left: 55px;
}

.prod-row-2 .lb-row-3 label:nth-child(2) {
    margin-left: 50px;
}

.wrap-input-6 .col-7 select:nth-child(1) {
    margin-bottom: 15px;
}

.wrap-input-8 select {
    width: 176px;
    margin-left: 10px;
}

.btn-part-6 {
    height: 122px;
}

.product .no-left-margin {
    margin-left: 0 !important;
}

.product h3 {
    margin-left: 0 !important;
}

.wrap-input-8 label:nth-child(4) {
    margin-left: 20px;
}

.hide-calendar .ui-datepicker-calendar {
    display: none;
}


/*-------------------Master Page----------------------*/


/*-------------------Index Page----------------------*/

.master .btn {
    padding: 40px 0;
    background: #db6161;
    color: #fff;
    min-width: 152px
}

.master select {
    padding: 4px;
    min-width: 178px
}

.master .yellow {
    background: #dbc661
}

.master .green {
    background: #4baaa1
}


/*-------------------Add Page----------------------*/

.user .right-75 {
    float: right;
    margin-right: 10%
}

.user select {
    padding: 4px;
    width: 178px
}

.user td {
    text-align: center
}

.user td a {
    text-decoration: none;
    background: 0 0
}

.user lable {
    padding: 5px
}

.user .wrap-table {
    border: 1px solid #b0b0b0;
    margin: 9px;
    width: 99%;
    padding: 1%
}

.user .right-40 {
    float: right;
    margin-right: 10%
}

.user select {
    padding: 4px;
    min-width: 178px
}

.user .label-form {
    text-align: right;
    width: 35%;
    padding-top: 6px;
}


/*-------------------Detail Page----------------------*/

.user-detail {
    margin: 9px;
    padding: 40px;
    border: 1px solid #e2e2e2
}

.user-detail tr,
.user-detailtd {
    padding: 5px;
    background-color: none!important
}

.wrapper-contain .user-detail tr:nth-child(even),
.wrapper-contain .user-detail tr:nth-child(odd) {
    background: 0 0
}

.user-detail tr {
    border-bottom: 1px solid #d5d5d5;
    width: 100%
}

.user-detail td:first-child {
    font-weight: 700
}


/*--------------------------Edit in bootstrap.min----------------------*/

.form-group {
    margin-bottom: 0 !important;
}

@media (min-width: 992px) {
    .text-area textarea {
        width: 77%;
    }
}

@media only screen and (min-width: 1199px) {
    .text-area textarea {
        width: 86%;
    }
}

.wrapper-contain h3 {
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}

.wrapper-contain .detail-table {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper-contain .detail-table td:first-child {
    font-weight: bold;
}

.width-th {
    /*width: 8%;*/
}

.top-15 {
    margin-top: 15px;
}


/*----------------------Datatable--------------------------*/

table.dataTable th {
    border: 1px solid #a3a3a3;
    border-bottom: none !important;
}

table.dataTable th,
table.dataTable td {
    text-align: center;
}


/*-------------------Table hover---------------------------*/

#order-table tr:hover,#order-table tr:hover:nth-child(even){
 cursor: pointer;
 background-color: #0099ba;
}
#check_list_panel tr:hover,#check_list_panel tr:hover:nth-child(even){
 cursor: pointer;
 background-color: #0099ba;
}
.frm-input-disabled {
    background: none;
    border: none !important;
}
.tooltip-inner {
    background-color: #ac4949;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #ac4949;
}
.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #ac4949;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #ac4949;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #ac4949;
}


/*----------------------ship ment--------------------------*/

#shipment table {
    border-collapse: collapse !important;
}

#shipment table tr:first-child {
    border-top: none !important;
}

#shipment table tr:last-child {
    border-bottom: 1px solid black !important;
}

#shipment table thead th,
#shipment table thead td {
    border-bottom: none !important;
}

#shipment table th {
    padding: 5px 8px;
    border: 2px solid #a3a3a3;
    border-bottom: none !important;
}

#shipment table th,
#shipment table td {
    text-align: center;
}

/*custom checkbox*/
.custom-form-group input[type="checkbox"] {
    display: none;
}

.custom-form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.custom-form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.custom-form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.custom-form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.custom-form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
.lst-checkbox > div.col-md-4,.lst-checkbox > div.col-sm-6{padding-top: 10px}
.user .wrapper .title{display: flex;background: #d3c4ab;background: linear-gradient(#e8cda1,#d3c4ab);}
.user .wrapper .title h3{margin: 10px 15px}
.user .wrapper .content{padding: 10px;border: 1px solid #dbc8a7;}
.user .right{text-align: right;}
.user-list table tbody tr{cursor: pointer;}
#dashboard_page .content{
    height: 258px;
    
}
.scroll_are{
    overflow-y: scroll;
}
.line_margin_left{
    margin-left: -30px;
}
.button-disabled {
    font-size: 100% !important;
    background: linear-gradient(#adafad, #656565) !important;
    border: 1px solid #636363 !important;
}
.shipment .table-center tr td {
    text-align: center;
}

/*flicker*/
.flicker {
    -webkit-animation: flicker 2s infinite;
}

@-webkit-keyframes flicker
{
    0% {opacity:0;}
    9% {opacity:0;}
    10% {opacity:.5;}
    13% {opacity:0;}
    20% {opacity:.5;}
    25% {opacity:1;}
}
.table_detail, .table_revenue, .table_shipment, .table_purchar{
    /* display: none; */
    position: absolute;
    z-index: 999;
    right: 0;
    background: #e0caa5;
    overflow-y: scroll;
    max-height: 150px;
    left: 0!important;
    width: 100%;
}

table.dataTable tbody tr.active, table.table-fixed tbody tr.active {
    background-color: #96c4d4;
}

.table-fixed {
    width: 100%;
  }
  .table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tr {
    padding: 0;
  }
  .table-fixed tbody td {
    float: left;
    height: 35px;
    border: 0;
    border-bottom: 1px solid #a3a3a3;
    text-align: center;
  }
  
  .table-fixed thead tr th {
    float: left;
  }
  .table-fixed thead tr th,.table-fixed thead tr td {
    padding: 10px;
}
.table-fixed tbody td.input-fixed {
    padding: 2px 5px;
  }
  .table-fixed tbody td.input-fixed input {
      width: 100%;
      text-align: center;
  }

  table.datatable thead th, table.datatable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
}

/*----------------------datatable--------------------------*/
/*__Edit 20180228 */
table.dataTable th {
    border: 1px solid #a3a3a3;
    border-bottom: none !important;
}

table.dataTable th,
table.dataTable td {
    text-align: center;
}

/*----------------------product--------------------------*/
.detail-pulldown-table{
    position:absolute;
    display: none;
    max-height: 100px;
    overflow-y:auto;
    background:lemonchiffon;
    width:100%;
    z-index:9999;
    border:1px solid goldenrod;
    box-shadow: 0 8px 6px -6px #989898;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    margin-top:1px;
  }
  .detail-pulldown-table tr{
    width:100%;
    border-bottom:1px solid goldenrod;
  }
  .detail-pulldown-table td{
      height:24px !important;
      border:none;
  }
  .detail-pulldown-table tr:hover{
    background:#d2c097;
  }
  .detail-pulldown-table tr:last-child{
    border-bottom:none;
  }
  /* Begin Setting the width of td */
  .detail-pulldown-table td:nth-child(1){
    width:25%;
    text-align: left;
    padding-left:5px;
  }
  .detail-pulldown-table td:nth-child(2){
    width:25%;
    text-align: left;
  }
  .detail-pulldown-table td:nth-child(2){
    width:50%;
  }
  /* End Setting the width of td */
  .box-pulldown-table .value_pulldown_id{
    padding:5px !important;
    text-align: center !important;
  }
  .box-pulldown-table .input-triangle{
        position: absolute;
      top: 1px;
      right: 1px;
      width: 20px;
      height: 20px;
      cursor: pointer;
  }
  .box-pulldown-table .input-triangle b {
      border-color:#888 transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0;
      height: 0;
      left: 50%;
      top: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      width: 0;
      font-weight: 700;
  }
  .box-pulldown-table{
    position:relative;
  }

#iconSelectPullDown {
    margin-left: 25%;
    margin-top: 40%;
}
#iconSelectPullDown img {
    width: 80px;
    height: auto;
    cursor: pointer;
}
button.close {
    min-width: 0;
}

@media print {
    header,nav#navi,.print,footer {
       display: none !important;
    }
}

.tooltip.right {
    width: 50%;
}

.print-hide{
    background: #d7d7d7 !important;
    color: #000 !important;
    cursor: not-allowed !important;
    border: 1px solid #aba8a8 !important;
}
.print-copy-shipment {
    background: linear-gradient(#2ba9dc, #24a2ca) !important;
    border: 1px solid #3abdf2 !important;
}

.dataTables_empty .btn-warning {
    background: none;
    color: #d58512;
    margin-bottom: 70px;
    margin-top: 50px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
select.first-opt-hidden option:first-of-type {
  display:none;
}

.print-hide {
    background: linear-gradient(#b3b2af, #a3a3a3) !important;
    border: 1px solid #d2d1cf !important;
}

table.datatable th {
    padding: 5px 8px;
    border: 1px solid #a3a3a3;
    border-bottom: none !important;
    text-align: center;
}
table.datatable td.dataTables_empty {
    text-align: center;
    padding: 8px 10px;
}
table.datatable tr:last-child {
    border-bottom: 1px solid black !important;

}
/*popup close when cofirrm yes/no*/
.modal-backdrop{
    position:inherit !important;
}
.modal {
    z-index: 1;

}

.label-form-request {
    padding: 2px 5px;
    color: #ff0000;
    position: absolute;
 }   
.btn-text-role {
    width: 150px;
}
.label-buying {
    background-color: #ffce94;
    padding-bottom: 5px;
}
.label-sales {  
    background-color: #74a7d4;
    padding-bottom: 5px;
}
.loading {    
    background-color: #ffffff;
    background-image: url("../../asset/img/24.gif");
    background-size: 22px 22px;
    background-position:center center;
    background-repeat: no-repeat;
}
.input__select__control{
    height:30px;
}
/* Error popup */

/* Popup container - can be anything you want */
.popup {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility:  visible; 
    background-color: #cc5757;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 8px 6px;
    position: absolute;
    z-index: 9999;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    opacity:0.9;
}
.tooltip-inner {
    width: 160px !important;
    padding: 4px 6px !important;
    font-size: 11px;
}
/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #bb5c5c transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}    
/* End error popup */

/* Table popup */
.detail-product{
    position:absolute;
    display: none;
    max-height: 200px;
    overflow-y:auto;
    background:lemonchiffon;
    width:200%;
    z-index:9999;
    border:1px solid goldenrod;
    box-shadow: 0 8px 6px -6px #989898;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    margin-top:1px;
}
.detail-product tr{
  width:200%;
  border-bottom:1px solid goldenrod;
}
.detail-product td{
    height:24px !important;
    border:none;
    word-wrap:break-word;
}
.detail-product tr:hover{
  background:#d2c097;
  cursor: pointer;
}
.detail-product tr:last-child{
  border-bottom:none;
}
/* Begin Setting the width of td */
.detail-product td:nth-child(1){
  width:3%;
  text-align: left;
  padding-left:5px;
}
.detail-product td:nth-child(2){
  width:7%;
  text-align: left;
  padding-left:10px;
}
/* End Setting the width of td */
.input-triangle{
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.input-triangle b {
    border-color:#888 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    width: 0;
    font-weight: 700;
}
.wrap{
  position:relative;
}
/* End table popup */

/* input.error,
select.error,
textarea.error {
    border: 1px solid red;
} */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #ddd;
}
.__web-inspector-hide-shortcut__ {
    visibility: hidden !important;
}

/* Notification */
.dropdown-notification i {
    font-size: 16px;
}
#new_count_message {
    padding: 2px 10px;
    margin-top: -2px;
    font-size: 12px;
    background-color: #a94442;
}
.dropdown-notification ul {
    max-width: 400px;
    padding: 3px 3px 1px 3px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.dropdown-notification ul li a {
    padding: 0;
    width: 390px;
    background-color: #DDD;
    margin-bottom: 3px;
    color: #337ab7!important;
}
.dropdown-notification ul li div {
    height: auto;
    padding: 0;
    width: 390px;
    background-color: #DDD;
    margin-bottom: 3px;
    cursor: pointer;
    position: relative;
}
.dropdown-notification .notification-date {
    font-size: 12px;
    color: #777;
    margin-bottom: 0;
    margin-top: 5px;
}
.dropdown-notification .notification-title {
    font-size: 16px;
    margin: 0;
    padding: 3px 10px;
    color: #333;
    border-bottom: 1px solid #8a6d3b;
    padding-right: 40px;
}
.dropdown-notification .notification-content {
    white-space: normal;
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    color: #333;
}

.dropdown-notification .fa-icon-check{
    position: absolute;
    right: 20px;
    top: 6px;
}
.dropdown-notification .fa-icon-check-on {
    color: #31b322;
}
.dropdown-notification i.fa-eye {
    margin-right: 0;
}
.del{
  background:#eeffcd;
}